.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000, 0.7);
  @include hide;
  transition: 0.1s;
  z-index: 10;
}
.show-overlay {
  @include show;
}
.mobile-menu-container {
  width: 320px;
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.mobile-search {
  border: 1px solid $primary-color;
  margin: 20px;
  display: flex;
  .search-input {
  }
  .btn {
    background: $primary-color;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
  }
}
.nav-pill-mobile {
  display: flex;
  border-bottom: 1px solid $border-color;
}
.nav-mb-item {
  width: 50%;
  text-align: center;
}
.nav-mb-link {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  transition: color 0.2s;
  position: relative;
  &::after {
    content: "";
    width: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: $primary-color;
    position: absolute;
    transition: width 0.3s;
  }
}
.nav-mb-link-active {
  color: $primary-color;
  &::after {
    width: 100%;
    left: 0;
  }
}
.mobile-menu {
  li a {
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    position: relative;
    transition: color 0.2s;
  }
  i {
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  li ul li a {
    padding: 10px 40px;
  }
  ul {
    display: none;
  }
}
.tab-pane-categories {
  display: none;
}
.close-menu {
  width: fit-content;
  margin-left: auto;
  padding: 10px 20px 0;
  cursor: pointer;
  transition: color 0.2s;
  &:hover {
    color: $primary-color;
  }
}
.show-menu {
  transform: translateX(0);
}
.mobile-menu-wrapper .social-icons {
  text-align: center;
  margin-top: 20px;
}
