$font-size: 1.4rem !default;
$primary-font: "Poppins", sans-serif;
$secondary-font: "Montserrat", sans-serif;

$primary-color: #fcb941;
$border-color: #ebebeb;
$body-text: #666666;
$light-text: #999999;
$dark-text: #333333;
